<ng-container>
  <mat-sidenav-container class="dashboard-container">
    <mat-sidenav opened mode="side" class="dashboard-sidenav" [fixedInViewport]="false" [fixedTopGap]="0"
      [fixedBottomGap]="0">
      <ul>
        <li>
          <a [routerLink]="['simple-films']">Simple Films 1</a>
        </li>
        <li>
          <a [routerLink]="['simple-films-2']">Simple Films 2</a>
        </li>
        <li>
          <a [routerLink]="['simple-films-3']">Simple Films 3</a>
        </li>
        <li>
          <a [routerLink]="['simple-films-4']">Simple Films 4</a>
        </li>
        <li>
          <a [routerLink]="['wiki-search']">Wikipedia Search</a>
        </li>
        <li>
          <a [routerLink]="['error-isolation']">Error Isolation</a>
        </li>
        <li>
          <a [routerLink]="['movie']">Movies</a>
        </li>
        <li>
          <a [routerLink]="['memory-leak']">Memory Leak</a>
        </li>
        <li>
          <a [routerLink]="['take-until']">Take Until</a>
        </li>
        <li>
          <button mat-flat-button color="primary" (click)="toggleUrl()">Toggle Service URL</button>
        </li>
      </ul>
    </mat-sidenav>

    <mat-sidenav-content>
      <div class="content-container">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</ng-container>