.dashboard-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.dashboard-icon {
  opacity: 0.5;
}

.dashboard-spacer {
  flex: 1 1 auto;
}

.dashboard-sidenav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 164px;
  background: #252525;

  ul {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      cursor: pointer;
      text-align: center;
      padding: 14px 0;

      a {
        color: white;
      }

      &:hover {
        background-color: rgba(255, 255, 255, 0.2);
      }
    }
  }
}

.content-container {
  margin: 24px;
}
